.about-link {
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: #fff;
  cursor: pointer;
}

.about-link a {
  color: #fff;
}

.about-link a:hover {
  color: #ff6a95;
}

.about h1 {
  margin-bottom: 20px;
}

.about p {
  margin: 10px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.centered {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.wrapper {
  display: grid;
  grid-template-columns: 190px 100px 100px;
  grid-gap: 10px;
  margin-bottom: 1rem;
}

.box {
  padding: 10px;
  font-size: 120%;
}

.boxName {
  padding: 10px;
  padding-left: 20px;
  font-size: 110%;
  text-align: left;
}