.spots {
  max-width: 60rem;
  width: 90%;
  margin: 2rem auto;
  animation: parkings-appear 1s ease-out forwards;
}

.centered {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: white;
}

h1 {
  margin: 0;
}

.back {
  margin: 0;
  font-size: 1rem;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}