.container {
  padding: 0.9rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  margin: 0.5rem;
  color: #262930;
}

.container:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.9);
  background-color: azure;
}

.free {
  background-color: #AFE1AF;
}

.free:hover {
  background-color: rgb(62, 121, 62);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}

.mid {
  background-color: #ccc478;
}

.mid:hover {
  background-color: #9c9341;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}

.used {
  background-color: #FAA0A0;
}

.used:hover {
  background-color: rgb(194, 107, 107);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}

h4 {
  margin: 0;
}

p {
  margin: 0;
}

.spotInfo {
  display: flex;
  justify-content: center;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.desc{
  font-style: italic;
  font-size: 0.9rem;
}

.price {
  margin-top: 0.25rem;
  font-weight: bold;
  color: #ad5502;
  font-size: 1.1rem;
}

.levelArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
